<div class="container">
  <h1>The Taming of Thee Get Request!</h1>
  <p>Get it?</p>

  <form action="/cool_url" method="get">
    How about a return trip?
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Going home?">
  </form>
</div>
