<div class="container">
  <h1>The Taming of Thee Interwebz!</h1>
  <p>Yee-Haw</p>

  <br>
  <form action="/cool_url" method="Post">
    <textarea cols="30" rows="3" name="thoughts"
    >Sometimes the interwebz feels magical, let's stop that.
    </textarea>
    <br>
    <br>

    <input type="radio" name="group1" value="Human">Human<br>
    <input type="radio" name="group1" value="Plant">Plant<br>
    <input type="radio" name="group1" value="Android">Android<br>
    <br>
    <br>
  
    <input type="checkbox" name="option1" value="Space Rock Soup">Space Rock Soup<br>
    <input type="checkbox" name="option2" value="Mars Meltwich">Mars Meltwich<br>
    <input type="checkbox" name="option3" value="Saturn Steak">Saturn Steak<br>
    <input type="submit" value="Order Please">
    <br>
    <br>

    <select name="spaceAdventures">
    <option>Space Suit</option>
    <option>Freeze Dried Ice Cream</option>
    <option>Map</option>
    <option>Blackhole</option>
    <option>Magnetic Boardgame</option>
    <option>Book</option>
    </select>
    <br>
    <br>

    Post is in outer space!
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Return Trip">
  </form>
    <br>
    <br>

  <form action="/cool_url" method="get">
    Let's take a ride through the geterwebz!
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Destination">
  </form>
  
</div>


<!--   <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->