<div class="container">
  <h1>The Taming of Thee Post Request!</h1>
  <p>Post its are sticky</p>
  <% %>

  <form action="/cool_url" method="post">
    Snail mail? Post? hmmmph.
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Mail Me">
  </form>
</div>